<!DOCTYPE html>
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace a=TYPO3\Asset\ViewHelpers}
{namespace s=Famelo\Saas\ViewHelpers}
{namespace c=Famelo\Common\ViewHelpers}
<html>
<head>
	<f:section name="stylesheets">
		<link rel="stylesheet" type="text/css" href="{a:uri(path: 'Styles/Main.less', package: 'Famelo.Broensfin', filters: 'less')}" />
		<link rel="stylesheet" type="text/css" href="{a:uri(path: 'Components/font-awesome/css/font-awesome.css', package: 'Famelo.Broensfin')}" />
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,300italic' rel='stylesheet' type='text/css'>
	</f:section>
</head>
<body>{f:uri.resource(path: 'Components/selectize.js/dist/js/selectize.js', package: 'Famelo.Broensfin')}
<f:section name="body">
	<div class="navbar navbar-default navbar-small navbar-static-top">
		<div class="container">
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav pull-right">
					{parts.userMenu -> f:format.raw()}
					{parts.languageMenu -> f:format.raw()}
				</ul>
			</div>
		</div>
	</div>

	<header>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				{parts.menu -> f:format.raw()}
			</div>
		</nav>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="user-center">
					<s:user>
						<h3>{f:translate(value: 'Welcome')} <br />{user}</h3>
						<hr />
						<s:saas>
						<div class="account-info">
							<h5 class="">{f:translate(value: 'My Overview')}</h5>

							<!-- <div class="userbar-info">
								<p class="label">Forderungen / Verbindlichkeiten</p>
								<p>Forderungen:<a href="#" title="Offene Forderungen: 10" class="value"><strong>{transactionService.balance -> f:count()}</strong></a><br />
								Verbindlichkeiten:<span class="value"><strong>0</strong></span></p>
							</div> -->

							<div class="userbar-info">
								<p class="label">{f:translate(value: 'Credits')}</p>
								<p>{f:translate(value: 'Credits')}:<span class="value balance" data-balance="{transactionService.balance}"><strong>{transactionService.balance -> s:format.points()}</strong></span><br />
								{f:translate(value: 'Balance in €')}:<span class="value"><strong>{transactionService.balance -> s:format.currency()}</strong></span></p>
							</div>
						</div>
						<hr />
						<p class="clearfix">
							<div clas="pull-right">
								<small><s:link.node path="mein-konto/transaktionen">{f:translate(value: 'Transactions')}</s:link.node></small>
								-
								<small><s:link.node path="mein-konto/einstellungen">{f:translate(value: 'Preferences')}</s:link.node></small>
								-
								<small><s:link.node path="mein-konto/transaktionen" appendix="?--famelo_saas-transactions%5B%40package%5D=famelo.saas&--famelo_saas-transactions%5B%40controller%5D=transaction&--famelo_saas-transactions%5B%40action%5D=choosepayment">{f:translate(value: 'Buy Credits')}</s:link.node></small>
							</div>
						</p>
						</s:saas>
					</s:user>
				</div>
			</div>
			<div class="col-sm-9">
				<nav class="submenu">
					{parts.submenu -> f:format.raw()}
				</nav>
				{content.main -> f:format.raw()}
			</div>
		</div>
	</div>

	<f:render partial="Footer.html" />
</f:section>
</body>
</html>