<p>
	Hier können Sie mehrere Forderungen auf einmal importieren.<br />
	Als Format dient eine "csv" Datei mit den Spalten: <br />
	<b>"Debtor,Street,City,Zip,Reference,Currency,Amount,Due Date,Creation Date"</b>
</p>

Beispiel:

<pre>
<b>Debtor,Street,City,Zip,Reference,Currency,Amount,Due Date,Creation Date</b>
Gibson GbR,,Bielefeld,,r23e423,EUR,2312,17.03.2014,17.03.2014
</pre>

<p>
<strong>Klicken Sie hier, um eine Vorlage herunterzuladen:</strong> <a href="{f:uri.resource(path: 'Templates/ReceivableImport.csv')}">ReceivableImport.csv</a>
</p>

<f:form action="check" class="form-horizontal t3-expose-form" enctype="multipart/form-data">
	<fieldset class="t3-expose-page">
		<fieldset id="form-all.objects.0" class="t3-expose-section">
			<div class="form-group t3-expose-form-group">
				<label for="file" class="col-sd-2 col-md-2 control-label t3-expose-control-label">Datei</label>
				<div class="col-md-10 col-sd-10 t3-expose-form-controls">
					<f:form.upload name="file" class="form-control"/>
				</div>
			</div>
		</fieldset>
	</fieldset>
   <div class="form-actions typo3-expose-form-actions">
		<nav class="form-navigation">
			<ul>
				<li class="next submit">
					<button class="btn btn-primary" type="submit">
						Absenden
					</button>
				</li>
			</ul>
		</nav>
   </div>
</f:form>