<f:form action="submit" class="form-horizontal" >
	<div class="form-group">
    	<label for="name" class="col-sm-2 control-label">Name</label>
    	<div class="col-sm-6">
    		<f:form.textfield name="name" id="name" class="form-control"/>
    	</div>
  	</div>
	<div class="form-group">
    	<label for="email" class="col-sm-2 control-label">Email</label>
    	<div class="col-sm-6">
    		<f:form.textfield name="email" id="email" class="form-control"/>
    	</div>
  	</div>
	<div class="form-group">
    	<label for="message" class="col-sm-2 control-label">Nachricht</label>
    	<div class="col-sm-6">
    		<f:form.textarea name="message" id="message" rows="4" cols="30" class="form-control" />
    	</div>
  	</div>
  	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
      		<button type="submit" class="btn btn-default">Absenden</button>
    	</div>
  	</div>
</f:form>