body {}

body > .container {
	background: #efefef;
	padding: 20px;
}

h1, h2, h3 {
	color: @red;
}

h4, h5, h6 {
	color: @grey;
}

p {
	color: @grey;
}

.navbar-small {
	min-height: 30px;
	margin-bottom: 0;

	.navbar-nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

header {
	.logo {
		float: left;
		margin: 10px 0;
	}

	.navbar-nav {
		a {
			color: @grey;
			font-size: 18px;
			padding-top: 25px;
			pagging-bottom: 20px;
		}

		a:hover {
			background: none;
		}
	}
}

.wrapper {
	padding: 30px 0;
}

.wrapper-beige {
	background: @beige;
	padding: 30px 0;
}

.wrapper-grey {
	background: @light-grey;
	padding: 30px 0;
}